.git
.venv
**/__pycache__
**/*.pyc
**/.DS_Store
backtesting
catboost_info
studies
tests
live_trading_engine/logs
data/processed
data/raw/kalshi_historical_market_logs
data/raw/kalshi_live_market_logs
data/raw/mlb_game_results
data/raw/mlb_statcast
data/raw/mlb_timestamps
